.DS_Store 
tempCodeRunnerFile.rb
.$Student_Diagr.drawio.bkp
.$Student_Diagr.drawio.dtmp
Array Methods/array.txt
Gemfile
Gemfile.lock
Patterns
Student Authorization System/models/student_list_json.rb
Student Authorization System/models/student_list_yamlrb